@model SliderInfo

@{
    ViewData["Title"] = "Create";
}

<div class="container my-5">

    <form class="form-sample" asp-action="Create" method="post" enctype="multipart/form-data">

        <label for="formFile" class="form-label">Choose an image for slider</label>
        <input class="form-control" id="customFile" asp-for="Photo"/> 
        <span class="text-danger" asp-validation-for="Photo">@ViewBag.error</span>


        <label for="start" class=" mt-3">Title</label>
        <textarea class="form-control" id="sliderInfo-Title-text" asp-for="Title" rows="5"></textarea>
        <span class="text-danger" asp-validation-for="Title">@ViewBag.error</span>

        <label for="start" class=" mt-3">Description</label>
        <input type="text" class="form-control " id="customFile" asp-for="Description" />
        <span class="text-danger" asp-validation-for="Description">@ViewBag.error</span>

        <div class="buttons my-3">
           <button type="submit" class="btn btn-primary mr-2">Submit</button>
           <a class="btn btn-light" asp-action="Index">Cancel</a>
        </div>
       
    </form>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    @*validationlari chixartmaq uchun linkleri aparib validation partialin ichine qoyuruq*@
    <script src="~/ckeditor/ckeditor.js"></script>
    <script>
        CKEDITOR.replace("sliderInfo-Title-text");
    </script>
}

