@model SliderInfoUpdateVM
@{
    ViewData["Title"] = "Edit";
}


<div class="container mt-5">
    <h1>Edit</h1>

    <div class="img-detail">
        <img class="img-fluid" src="~/img/@Model.SignatureImage" />
    </div>
    <form class="forms-sample" method="post" asp-action="Edit" enctype="multipart/form-data">

        <div class="form-group mt-5">
            <label for="formFile" class="form-label">Choose an image for slider info</label>
            <input class="form-control" type="file" id="formFile" asp-for="Photo" />
        </div>
        <div class="form-group mt-5">
            <label for="formFile" class="form-label">Add title</label>
            <textarea class="form-control" id="sliderInfo-Title-text" asp-for="Title" rows="5"></textarea>
            <span class="text-danger" asp-validation-for="Title"></span>
        </div>
        <div class="form-group mt-5">
            <label for="formFile" class="form-label">Add description</label>
            <input class="form-control" type="text" id="formFile" asp-for="Description">
            <span class="text-danger" asp-validation-for="Description"></span>
        </div>
      
        <button type="submit" class="btn btn-primary mr-2">Submit</button>
        <a class="btn btn-light" asp-action="Index">Cancel</a>
    </form>

</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    @*validationlari chixartmaq uchun linkleri aparib validation partialin ichine qoyuruq*@
    <script src="~/ckeditor/ckeditor.js"></script>
    <script>
        CKEDITOR.replace("sliderInfo-Title-text");
    </script>
}